<<<<<<< HEAD
body{
    background-color: #0d1117;
    display: inline-block;
 
}



.navbar{
    width:100%; 
    position: relative;
    left: 500px; 
}   
   
.profile-card{
    position: relative;
    top: 4px;
    left: 150px; 
=======



.fas {
    margin: 4px;
>>>>>>> c7d97fbd0784cf967b8c795279a766a6dc1729eb
}