body{
    background-color: #0d1117;
    display: inline-block;
 
}



.navbar{
    width:100%; 
    position: relative;
<<<<<<< HEAD
    left: 425px; 
=======
    left: 500px; 
>>>>>>> main
}   
   
.profile-card{
    position: relative;
<<<<<<< HEAD
    top: 0px;
    left: 100px; 
=======
    top: 4px;
    left: 150px; 
>>>>>>> main
}